page-thirdTab {
  $header-color-bg: #eee;
  $animation-duration: 0.4s;

	  .top_segment{
      color: #66CCFF;
    }
    ion-list {
    ion-item {
      background-color: transparent;
      padding-left: 0;
      position: relative;
    }
    ion-label {
      div {
        text-transform: none;
        font-size: 0.8em;
        padding: 1em 0;
        white-space: normal;
        text-align: justify;
      }
    }
    ion-icon  {
      font-size: 1.8rem;
      padding: 0;
      text-align: center;
      position: absolute;
      &:before {
        font-weight: bold;
      }
    }
  }
}

